@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: 0.2rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h2 {
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 4rem;
}

section {
    padding-top: 4rem;
}

.navbar {
    position: fixed;
    width: 100%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
    font-weight: 400;
}

.main-logo {
    width: 100%;
}

.about-section {
    text-align: center;
}

.ticket-item {
    list-style-type: none;
}

.ticket-link {
    color: white;
    border: 2px white solid;
    text-decoration: none;
    padding: 4px;
    margin-top: 1rem;

}

.ticket-link:hover {
    background-color: white;
    color: black;
    font-weight: 400;
    
}


@media screen and (max-width: 900px) {
    .about-img {
        display: none;
    }

    .ticket-link {
        margin-top: 1rem;
    }
}